<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: orange;
            margin: 0;
            padding: 0;
        }

        .agradecimento {
            background-color: white;
            width: 50%;
            margin: 100px auto;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="agradecimento">
        <p>Compra efetuada com sucesso!</p>
        <p>Agradecemos a sua preferência.</p>
    </div>
</body>
</html>
