<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
        }
        </style>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Fox Travel</title>
</head>
<body>
        <div class="header">
          <a href="#inicio" class="logo"><img src="/static/img/logo.png" style="width:100%"></a>
          <div class="header-right">
            <a class="active" href="#empresa">Empresa</a>
            <a href="#contato">Contato</a>
            <a href="/templates/cadastro.html">Cadastro</a>
          </div>
        </div>
        <div class="icons">
          <a href="#Facebook">
          <img src="/static/img/facebook_icon.png" style="width:2%"></a>
            <a href="#Instagram">
              <img src="/static/img/instagram_icon.png" style="width:2%"></a>
            <a href="#Linkedin">
              <img src="/static/img/linkedin_icon.png" style="width:2%"></a>
            <a href="#Youtube">
              <img src="/static/img/youtube_icon.png" style="width:2%"></a>
            <a href="#Skype">
              <img src="/static/img/skype_icon.png" style="width:2%"></a>
          </div>
    
  <!-- Slideshow container -->
 <div class="slideshow-container">

    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#passagens">Passagens</a>
        <a href="#hotéis">Hotéis</a>
        <a href="#pacotes">Pacotes</a>
      </div>

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="/static/img/melhor_viagem.png" style="width:100%">
      <div class="text"></div>
    </div>
  
    <div class="mySlides fade">
      <img src="/static/img/proximo_destino.png" style="width:100%">
      <div class="text"></div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  
  <script src="/static/js/main.js"></script>

  <div class="footer">
    <div class="row">
      <div class="column">
        <h4><b>Fox Travel Agencia De Viagens e Turismo - Ltda</b></h4>
        <p>Av.: Guanabara, 2919 - Box 44 / Oeste Plaza Shopping - Stella Maris</p>
        <p>Andradina/SP, CEP: 16901-100</p>
        <p>Tel.: (18) 3722-7989</p>
        <p>CNPJ: 60.343.175/0001-23</p>
        <p>E-mail: <a>carla@foxtravel.com.br</a>, <a>nicole@foxtravel.com.br</a></p>
      </div>
      <div class="column">
        <h4><b>Fox Travel Operadora e Agência de Viagens Ltda - Me</b></h4>
        <p>Rua: Conselheiro Oscar Rodrigues Alves, 526 - Centro</p>
        <p>Araçatuba/SP, CEP: 16010-330</p>
        <p>Tel.: (18) 3622-1973</p>
        <p>CNPJ: 07.736.925/0001-44</p>
      </div>
      <div class="column">
        <img src="/static/img/cartoes_bandeiras.png" style="width:60%">
        <p>Cadastur: 26. 021.971.10.0001.1</p>
        <a href="#Condições_Gerais">
        <p>Condições Gerais / Contratos</a></p>
        <a href="#Política_de_Privacidade">
        <p>Política de Privacidade</a></p>
        <a href="#Direitos_do_Consumidor">
        <p>Direitos do Consumidor</a></p>
      </div>
    </div>
  </div>
  <div class="footnav">
    <p>Copyright 2023 - Todos os direitos reservados</p>
    <p>Rua Oscar Rodrigues Alves, 526 - Centro, Araçatuba/SP | foxtravel@foxtravel.com.br</p>
    <a href="#">
      <img src="" style="width:2%"></a>
  </div>
</body>
</html>